#{
	padding:0;
	margin:0;
}
@font-face {
	font-family: "Angsana New", Angsana New Bold, Franklin Gothic Heavy, Franklin Gothic Book;
}
#header {
	/*height: auto!important;
    /*headerHeight*/
    height: 120px;
    /*headerBGColor*/
    background-color: #015581;
    /*headerBGURL*/
    background-image: url(../img/banner2.jpg);
	/*headerBGRepeat*/
    background-repeat: no-repeat;
    /*headerBGPosition*/
    background-position: fixed;
    border: 1px solid/*headerBorderColor*/
    #005fbf;
	padding: 3px;
}

#header h1 {
    font-family: "Franklin Gothic Book";
	font-size:25px;
	color:#ffffff!important;
	border: 1px
}

#headerContent {
    /*headerTitleTopMargin*/
    padding-top: 200px;
    /*headerTitleColor*/
    color: #ff7f00;
    /*headerTitleTextShadowColor*/
	text-shadow: 1px 1px 1px #191919;
    /*headerTitleAlign*/
    text-align: right;
}

#body {
	margin: 40px;
}

/*Estilos pie de pagina*/
header, footer{

        position: relative;
        margin-top: -10px;
        width: 100%;
        padding: 50px;
        clear: both;
        background: rgb(240, 180, 41);
        text-align: center;
        color: #fff;
}

nav {
	position: relative;
        margin-top: 10px;
        width: 100%;
        padding: 50px;
        clear: both;
        background: rgb(240, 180, 41);
        text-align: center;
        color: #fff;
}

aside{
    float: left;
    padding: 50px;
    width: 10%;
    height: 2%;

}